<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-mock-location-checker"
    version="1.0.0">
    <name>MockLocationChecker</name>
    <platform name="android">
        <source-file src="src/android/MockLocationChecker.java" target-dir="src/com/example/plugins/" />
    </platform>
    <js-module name="MockLocationChecker" src="www/MockLocationChecker.js">
        <clobbers target="cordova.plugins.mockLocationChecker" />
    </js-module>
</plugin>
